@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Semi';
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'iconitos';
    src:  url('../fonts/Iconos/icomoon.eot?18mt2k');
    src:  url('../fonts/Iconos/icomoon.eot?18mt2k#iefix') format('embedded-opentype'),
      url('../fonts/Iconos/icomoon.ttf?18mt2k') format('truetype'),
      url('../fonts/Iconos/icomoon.woff?18mt2k') format('woff'),
      url('../fonts/Iconos/icomoon.svg?18mt2k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }


* {
    font-family: 'Poppins';
}

header {
    background: #196a15;
}

header .logo, header .lista, header .buscador {
    display: inline-block;
}

header .logo {
    margin: 30px 0px 30px 350px;
}

header .logo img {
    width: 250px;
}

header .lista {
    vertical-align: top;
    margin-top: 35px;
}

header .lista ul li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

header .lista ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

header .lista ul li a .casita::before {
    font-family: 'iconitos';
    content: '\e902';
}

header .lista ul li a .carpeta::before {
    font-family: 'iconitos';
    content: '\e930';
}

header .lista ul li:first-child a {
    text-transform: uppercase;
}

header .buscador {
    float: right;
    margin: 50px 350px 0px 0px;
}

header .buscador a {
    background: white;
    padding: 5px 10px;
    border-radius: 50%;
    text-decoration: none;
}

header .buscador a .lupa::before {
    font-family: 'iconitos';
    content: '\e986';
    color: #196a15;
}

nav ul {
    margin-left: 350px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    margin-right: 40px;
}

nav ul li a {
    font-family: 'Poppins Semi';
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #6b6b6b;
}

nav ul li a .discord::before {
    font-family: 'iconitos';
    content: '\e901';
    margin-right: 3px;
}

nav ul li a .engranaje::before {
    font-family: 'iconitos';
    content: '\e900';
    margin-right: 3px;
}

nav ul li a .play::after {
    font-family: 'iconitos';
    content: '\ea1c';
}

section {
    margin-top: 70px;
    margin-bottom: 80px;
}

section .titulo .rayito, section .titulo div {
    display: inline-block;
}

section .titulo .rayito p .rayito::before {
    font-family: 'iconitos';
    content: '\e9b5';
    color: white;
    font-weight: lighter;
    font-size: 12px;
}

section .titulo {
    margin: 30px 0px 0px 350px;
    border-bottom: 1px solid #d1d1d1;
}

section .titulo .rayito {
    background: #196a15;
}

section .titulo .rayito p {
    padding: 8px 15px;
    margin: 0px;
}

section .titulo div h3 {
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    text-transform: uppercase;
}

section .mangas {
    margin-left: 350px;
    margin-top: 30px;
}

section .mangas article .caratula, section .mangas article .descripcion {
    display: inline-block;
}

section .mangas article {
    display: inline-block;
    width: 35%;
    margin-bottom: 70px;
}

section .mangas article .caratula img {
    width: 150px;
}

section .mangas article .descripcion {
    vertical-align: top;
    margin-left: 30px;
}

section .mangas article .descripcion .titulo {
    margin-top: 0px;
    margin-left: 0px;
    border-bottom: 0px;
}

section .mangas article .descripcion .titulo h5 {
    margin: 0px;
    padding: 0px;
    color: black;
    font-size: 16px;
}

section .mangas article .descripcion .calificacion p {
    margin-bottom: 0px;
}

section .mangas article .descripcion .calificacion p .estrellita::before {
    font-family: 'iconitos';
    content: '\e9d9';
    color: #196a15;
}

.estrellita-media::before {
    font-family: 'iconitos';
    content: '\e9d8';
    color: #196a15;
}

.estrellita-vacia::before {
    font-family: 'iconitos';
    content: '\e9d7';
    color: #196a15;
}
section .mangas article .descripcion .capitulos .chapter, section .mangas article .descripcion .capitulos .fecha {
    display: inline-block;
}

section .mangas article .descripcion .capitulos .chapter ul, section .mangas article .descripcion .capitulos .fecha ul {
    padding: 0px;
}

section .mangas article .descripcion .capitulos .chapter ul li, section .mangas article .descripcion .capitulos .fecha ul li {
    list-style: none;
}

section .mangas article .descripcion .capitulos .chapter ul li {
    background: #ebebeb;
    padding: 5px 20px;
    margin-bottom: 15px;
    border-radius: 15px;
}

section .mangas article .descripcion .capitulos .chapter ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #6c6c6c;
}

section .mangas article .descripcion .capitulos .fecha {
    vertical-align: top;
    margin-top: 5px;
    margin-left: 20px;
}

section .mangas article .descripcion .capitulos .fecha ul li {
    margin-bottom: 25px;
}

section .mangas article .descripcion .capitulos .fecha ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #a3a3a3;
}

section .mangas article .descripcion .capitulos .fecha ul li:first-child a {
    background: #ba231f;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins Semi';
    font-size: 12px;
    padding: 2px 5px;
}

footer {
    text-align: center;
    padding: 40px 0px;
    -webkit-box-shadow: 0px -2px 5px 0px #d1d1d1;
    -moz-box-shadow: 0px -2px 5px 0px #d1d1d1;
    box-shadow: 0px -2px 5px 0px #d1d1d1;
}

footer .lista {
    margin-bottom: 30px;
}

footer .lista ul li {
    display: inline-block;
    margin-right: 30px;
}

footer .lista ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #6b6b6b;
}

footer .lista ul li a::after {
    content: '|';
    margin-left: 30px;
}


footer .lista ul li:last-child a::after {
    content: '';
}

footer .lista ul li:nth-child(2) a {
    text-transform: capitalize;
}

footer .copy {
    width: 60%;
    margin: 0 auto;
}

footer .copy p {
    font-size: 14px;
    color: #a3a3a3;
}

footer .copy p .copy::before {
    font-family: 'iconitos';
    content: '\e903';
}